html, body{

    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
   
}

#navegacion{

    width: 100%;
    margin-left: 5%;
   background-color:rgb(0, 0, 0);
   text-align: center;
   
   }
   
   #navegacion ul{
       display: inline-flex;
   }
   #navegacion ul li{
       list-style: none;
       
   }
   
   #navegacion ul li a{
       text-decoration: none;
       padding: 20px 20px;
       display: table;
       border: 1px solid rgb(216, 32, 0);
       color:white;
   }
   
   #navegacion ul li a:hover{
       color:rgb(16, 15, 51);
       background-color: white;
   }
   
   #logo{ 
    height: 400px;
    width: 400px;
 margin-left: 30%;
  }
 
#bloque1{ 
    background-image: url(../img/fondo1.jpg);
padding-top: 400px;
 }

 #bloque2{ 
    background-image: url(../img/nike1.jpg);

 }
 #bloque3
{ 
    background-image: url(../img/adidas1.jpg);

 }
 #bloque4{ 
    background-image: url(../img/puma1.jpg);

 }
 #bloque5{ 
    background-image: url(../img/reebok1.jpg);

 }
 #bloque6{ 
    background-image: url(../img/new\ balance1.jpg);
 }
 
#bloque7{
  background-image: url(../img/fondogaleria.jpg);
}

 .Galeria{
   width: 90%;
   margin: auto;
   list-style: none;
   padding: 20px;
   box-sizing: border-box;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

 }

.Galeria li {
  margin: 5px;
}

 .Galeria img{
   width: 150px;
   height: 100px;
 }
 
 section{ 
     background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    margin: 0 auto;
    margin-left: 5%;
    max-width: 500%;
    overflow: hidden;
    background-size: 100% 100%;
padding: 0;
position: relative;
width: 100% !important;

 }
 
 
 #contenedor{
     margin: 0 auto;
     max-width: 90%;
   
     
 }
 
 #bloque1 h1 { color: rgba(238, 149, 16, 0.9); }
 #bloque2 h1 { color: rgba(238, 79, 16, 0.9); }
 #bloque3 h1 { color: rgba(60, 238, 16, 0.9); }
 #bloque4 h1 { color: rgba(16, 49, 238, 0.9); }
 #bloque5 h1 { color: rgba(255, 255, 255, 0.9); }
 #bloque6 h1 { color: rgba(157, 16, 238, 0.9); }


 h1 { 
     background-color: #02223a;
   
     bottom: 0;
     display: block;
     font-size: 5em;
     font-weight: bold;
     margin-top: 3em;
     opacity: 0.76;
     text-align: center;
     text-shadow: 1px 1px 1px #666;
     text-transform: uppercase;
     width: 100%;
 }

 p{ text-align: justify;
    color: whitesmoke;
   margin: 10px;
   padding: 10px 20px;
   background:  rgba(3, 3, 3, 0.8);}

   a.ir-arriba 
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
	background: #464747;
	font-size: 35px;
	color: #fff;
	position: fixed;
	bottom: 20px;
    right: 20px;
    border: 1px solid #d4d5d5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    z-index: 5;
}
h5 {
   display: block;
   text-align: center;
   margin: 0 auto;
   color: whitesmoke;
   
}
#rasca:hover {filter: saturate(180%);}
#rasca
{
  padding-top: 120px;
    display: flex;
    position: fixed;
    left: 0px;
 height:560px ;
width:220px ;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
}

.redes
{
    display: flex;
    position: fixed;
    left: 0px;
    top: 45%;

    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
}
#publicidad:hover {filter: saturate(180%);}
#publicidad { margin-left: 76%;
    margin-top: 25%;
}
#publicidad3:hover {filter: saturate(180%);}
#publicidad3{ margin-left: 76%;
    margin-top: 20%;
}
#publicidad4:hover {filter: saturate(180%);}
#publicidad4{ margin-left: 76%;
    margin-top: 21%;
}
#publicidad5:hover {filter: saturate(180%);}
#publicidad5{ margin-left: 76%;
    margin-top: 26%;
}

.redes a
{
    text-decoration: none;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;
    padding: 8px;
    text-align: center;

    border-radius: 5px;

    opacity: .6;
}

.redes a.fb { background: #3b5998}
.redes a.tw { background: #1da1f2}
.redes a.ig { background: #E773C2}

.redes a.fb:hover { opacity: 1; }
.redes a.tw:hover {opacity: 1;}
.redes a.ig:hover { opacity: 1;}

 

 
  
  @font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: local('Monoton'), local('Monoton-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  }
  
  @font-face {
    font-family: 'PressStart';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Vampiro One';
    font-style: normal;
    font-weight: 400;
    src: local('Vampiro One'), local('VampiroOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/vampiroone/v3/Ho2Xld8UbQyBA8XLxF1_NYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
  }
  
  body{
    background-color: #222222;
  }
  
  #container{
    widows: 100%;;
    margin:auto;
  }
  
  
  /*neeeeoooon*/
  h3{
    text-align:center;
    font-size:7em;
    margin:20px 0 20px 0; 
  }
  
  a{
    text-decoration:none; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  h3:nth-child(1) a{
    color:#FF1177;
    font-family:Monoton;
  }
  h3:nth-child(1) a:hover{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; 
  }
  
  h3:nth-child(2) a{
    font-size:1.5em;
    color:#228DFF;
    font-family:Iceland;
  }
  h3:nth-child(2) a:hover{
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  
  h3:nth-child(3) a{
    color:#FFDD1B;
    font-family:Pacifico;
  }
  h3:nth-child(3) a:hover{ 
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate; 
  }
  
  h3:nth-child(4) a{
    color:#B6FF00;
    font-family:PressStart;
    font-size:0.8em;
  }
  h3:nth-child(4) a:hover{
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
  
  h3:nth-child(5) a{
    color:#FF9900;
    font-family:Audiowide;
  }
  h3:nth-child(5) a:hover{
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate; 
  }
  
  h3:nth-child(6) a{
    color:#BA01FF;
    font-family:Vampiro One;
  }
  h3:nth-child(6) a:hover{
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
  }
  
  h3 a:hover{
  color:#ffffff;  
  }
  
  
  
  /*glow for webkit*/
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
    }
  }
  
  @-webkit-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #228DFF,
                 0 0 70px  #228DFF,
                 0 0 80px  #228DFF,
                 0 0 100px #228DFF,
                 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #228DFF,
                 0 0 35px #228DFF,
                 0 0 40px #228DFF,
                 0 0 50px #228DFF,
                 0 0 75px #228DFF;
    }
  }
  
  @-webkit-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FFDD1B,
                 0 0 70px  #FFDD1B,
                 0 0 80px  #FFDD1B,
                 0 0 100px #FFDD1B,
                 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FFDD1B,
                 0 0 35px #FFDD1B,
                 0 0 40px #FFDD1B,
                 0 0 50px #FFDD1B,
                 0 0 75px #FFDD1B;
    }
  }
  
  @-webkit-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #B6FF00,
                 0 0 70px  #B6FF00,
                 0 0 80px  #B6FF00,
                 0 0 100px #B6FF00,
                 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #B6FF00,
                 0 0 35px #B6FF00,
                 0 0 40px #B6FF00,
                 0 0 50px #B6FF00,
                 0 0 75px #B6FF00;
    }
  }
  
  @-webkit-keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF9900,
                 0 0 70px  #FF9900,
                 0 0 80px  #FF9900,
                 0 0 100px #FF9900,
                 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF9900,
                 0 0 35px #FF9900,
                 0 0 40px #FF9900,
                 0 0 50px #FF9900,
                 0 0 75px #FF9900;
    }
  }
  
  @-webkit-keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #ff00de,
                 0 0 70px #ff00de,
                 0 0 80px #ff00de,
                 0 0 100px #ff00de,
                 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #ff00de,
                 0 0 35px #ff00de,
                 0 0 40px #ff00de,
                 0 0 50px #ff00de,
                 0 0 75px #ff00de;
    }
  }
  
  /*glow for mozilla*/
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
    }
  }
  
  @-moz-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #228DFF,
                 0 0 70px  #228DFF,
                 0 0 80px  #228DFF,
                 0 0 100px #228DFF,
                 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #228DFF,
                 0 0 35px #228DFF,
                 0 0 40px #228DFF,
                 0 0 50px #228DFF,
                 0 0 75px #228DFF;
    }
  }
  
  @-moz-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FFDD1B,
                 0 0 70px  #FFDD1B,
                 0 0 80px  #FFDD1B,
                 0 0 100px #FFDD1B,
                 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FFDD1B,
                 0 0 35px #FFDD1B,
                 0 0 40px #FFDD1B,
                 0 0 50px #FFDD1B,
                 0 0 75px #FFDD1B;
    }
  }
  
  @-moz-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #B6FF00,
                 0 0 70px  #B6FF00,
                 0 0 80px  #B6FF00,
                 0 0 100px #B6FF00,
                 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #B6FF00,
                 0 0 35px #B6FF00,
                 0 0 40px #B6FF00,
                 0 0 50px #B6FF00,
                 0 0 75px #B6FF00;
    }
  }
  
  @-moz-keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF9900,
                 0 0 70px  #FF9900,
                 0 0 80px  #FF9900,
                 0 0 100px #FF9900,
                 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF9900,
                 0 0 35px #FF9900,
                 0 0 40px #FF9900,
                 0 0 50px #FF9900,
                 0 0 75px #FF9900;
    }
  }
  
  @-moz-keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #ff00de,
                 0 0 70px #ff00de,
                 0 0 80px #ff00de,
                 0 0 100px #ff00de,
                 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #ff00de,
                 0 0 35px #ff00de,
                 0 0 40px #ff00de,
                 0 0 50px #ff00de,
                 0 0 75px #ff00de;
    }
  }
  
  /*glow*/
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
    }
  }
  
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #228DFF,
                 0 0 70px  #228DFF,
                 0 0 80px  #228DFF,
                 0 0 100px #228DFF,
                 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #228DFF,
                 0 0 35px #228DFF,
                 0 0 40px #228DFF,
                 0 0 50px #228DFF,
                 0 0 75px #228DFF;
    }
  }
  
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FFDD1B,
                 0 0 70px  #FFDD1B,
                 0 0 80px  #FFDD1B,
                 0 0 100px #FFDD1B,
                 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FFDD1B,
                 0 0 35px #FFDD1B,
                 0 0 40px #FFDD1B,
                 0 0 50px #FFDD1B,
                 0 0 75px #FFDD1B;
    }
  }
  
  @keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #B6FF00,
                 0 0 70px  #B6FF00,
                 0 0 80px  #B6FF00,
                 0 0 100px #B6FF00,
                 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #B6FF00,
                 0 0 35px #B6FF00,
                 0 0 40px #B6FF00,
                 0 0 50px #B6FF00,
                 0 0 75px #B6FF00;
    }
  }
  
  @keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF9900,
                 0 0 70px  #FF9900,
                 0 0 80px  #FF9900,
                 0 0 100px #FF9900,
                 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF9900,
                 0 0 35px #FF9900,
                 0 0 40px #FF9900,
                 0 0 50px #FF9900,
                 0 0 75px #FF9900;
    }
  }
  
  @keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #ff00de,
                 0 0 70px #ff00de,
                 0 0 80px #ff00de,
                 0 0 100px #ff00de,
                 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #ff00de,
                 0 0 35px #ff00de,
                 0 0 40px #ff00de,
                 0 0 50px #ff00de,
                 0 0 75px #ff00de;
    }
  }
  
  
  /*REEEEEEEEEEESPONSIVE*/
  @media (max-width: 650px) {
    
    #container{
      width: 100%;
    }
    
    h3{
      font-size:3.5em;
    }
    
  
  }

  footer{
    padding-top:125px;
        }